[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "~=1.18.132"
aws-sam-cli = "~=1.2.0"
jsondiff = "~=1.2.0"
pre-commit = "~=2.7.1"
pytest = "~=6.0.1"
pytest-mock = "~=3.3.1"

[requires]
python_version = "3.8"
